@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
*{
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0; 
    color: rgba(255, 174, 0, 0.73);
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: white;
}
header .logo{ 
    height: 150px;
    width: 200px;
    overflow: hidden;
    background: white;
}
.logo img{
    width: 100%;
}
.social-media{
    background: white;
    font-size: 50px;
}
.alhambra{ 
    margin: 20px; 
    margin-top: 150px;  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.szoveg{
    display: block;
    flex-direction: column;
    text-align: center;

}
.alhambra img{
    border-radius: 20px;
    width: 40%;
    height: 40%;
    margin-top: 20px;
}
.alhambra h1{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}
.alhambra p{
    width: 600px;
    height: 600px;
    font-size: 37px; 
}
footer{
    background: rgba(255, 174, 0, 0.73);
    color: white;
    height: 400px;
}
footer{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer div{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
footer form{
    margin: 20px;
}
footer p{
    color: white;
    font-weight: bold;
    
}
.bekuld button, .bekuld input{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: chocolate;
    padding: 10px 20px;
    margin: 10px 10px;
    background: white;
    color:grey;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
.bekuld button{
    padding: 10px 20px;
    margin: 10px 105px;
    background: white;
    color:grey;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
@media (max-width:1024px)
{
    header{
        justify-content: center;
    }
    .social-media{
        margin-top: 110px;
        margin-bottom: 20px;
    }
    .cim{
        font-size: 20px;
    }
    footer{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer p{
        text-align: center;
    }
}