@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
*{
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0; 
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: white;
}
header .logo{ 
    height: 150px;
    width: 200px;
    overflow: hidden;
    background: white;
}
.logo img{
    width: 100%;
}
.social-media{
    background: white;
    font-size: 50px;
    color: rgba(255, 174, 0, 0.73);
}
.main{
    position: relative;
    display: flex;
    justify-content: center;
    
}
.main-info{
    margin: 20px;
    text-align: center;
}
.welcomeBackground{
    width: 100%;
}
.welcomeBackground img{
    
    width: 100%; 
    height: 100%;
}
.cim{
    position: absolute;
    top: 10%;
    color: white;
    font-size: 300%;
    background: rgba(255, 174, 0, 0.73);
    border-radius: 20px;

}
.cim h1{
    margin: 20px;
    font-weight: bold;
}
.main-info h2{
    color: rgba(255, 174, 0, 0.73);
    font-size: 60px;
    font-weight: bold;
}
.buttons button{
    padding: 30px 75px;
    margin: 10px 20px;
    background: rgba(255, 174, 0, 0.73);
    color:white;
    font-weight: bold;
    border: none;
    font-size: 30px;
    border-radius: 20px;
}
.lab{
    height: 200px;
    background:rgba(255, 174, 0, 0.73);
    color: white;

}
.main-info h2{
    margin-top: 100px;
    margin-bottom: 40px;
}
.main-info h3{
    color: rgba(255, 174, 0, 0.73);
    font-size: 40px;
}
.thank {
    display: block;
    justify-content: center;
    text-align: center;
}
.thank h2{
    top: 30px;
    font-size: 50px;
    margin: 50px;
    font-weight: bold;
}
.thank h3{

    font-size: 30px;
}
@media (max-width:1024px)
{
    header{
        justify-content: center;
    }
    .social-media{
        margin-top: 110px;
        margin-bottom: 20px;
    }
    .cim{
        font-size: 20px;
    }
}